body{
    display:flex;
    flex-direction: column;
}

main{
    display:flex;
    flex-direction:row;
    flex:auto;
}
article{
    flex-direction:2;
    overflow-y: auto;
    background-color: grey;
}

aside{
    flex-direction:1;
    overflow-y: auto;
}